<app-layout></app-layout>

<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area section-padding img-bg-2">
  <div class="overlay"></div>
  <div class="container">
    <div
      class="breadcrumb-content d-flex flex-wrap align-items-center justify-content-between"
    >
      <div class="section-heading">
        <h2 class="section__title text-white">Sign Up</h2>
      </div>
      <ul
        class="generic-list-item generic-list-item-white generic-list-item-arrow d-flex flex-wrap align-items-center"
      >
        <li><a href="index.html">Home</a></li>
        <li>Pages</li>
        <li>Sign Up</li>
      </ul>
    </div>
    <!-- end breadcrumb-content -->
  </div>
  <!-- end container -->
</section>
<!-- end breadcrumb-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->

<!-- ================================
       START CONTACT AREA
================================= -->
<section class="contact-area section--padding position-relative">
  <span class="ring-shape ring-shape-1"></span>
  <span class="ring-shape ring-shape-2"></span>
  <span class="ring-shape ring-shape-3"></span>
  <span class="ring-shape ring-shape-4"></span>
  <span class="ring-shape ring-shape-5"></span>
  <span class="ring-shape ring-shape-6"></span>
  <span class="ring-shape ring-shape-7"></span>
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto">
        <div class="card card-item">
          <div class="card-body">
            <h3 class="card-title text-center fs-24 lh-35 pb-4">
              Create an Account and <br />
              Start Learning!
            </h3>
            <div class="section-block"></div>
            <form
  (ngSubmit)="onSubmit()"
  #userForm="ngForm"
  method="post"
  class="pt-4"
>
  <!-- First Name -->
  <div class="input-box">
    <label class="label-text">First Name</label>
    <div class="form-group">
      <input
        [(ngModel)]="user.name"
        name="name"
        class="form-control form--control"
        type="text"
        placeholder="First name"
        required
      />
      <span class="la la-user input-icon"></span>
    </div>
  </div>

  <!-- Last Name -->
  <div class="input-box">
    <label class="label-text">Username</label>
    <div class="form-group">
      <input
        [(ngModel)]="user.username"
        name="username"
        class="form-control form--control"
        type="text"
        placeholder="Username"
        required
      />
      <span class="la la-user input-icon"></span>
    </div>
  </div>

  <!-- Email Address -->
  <div class="input-box">
    <label class="label-text">Email Address</label>
    <div class="form-group">
      <input
        [(ngModel)]="user.email"
        name="email"
        class="form-control form--control"
        type="email"
        placeholder="Enter email address"
        required
      />
      <span class="la la-envelope input-icon"></span>
    </div>
  </div>

  <!-- Phone Number -->
  <div class="input-box">
    <label class="label-text">Phone</label>
    <div class="form-group">
      <input
        [(ngModel)]="user.phone"
        name="phone"
        class="form-control form--control"
        type="text"
        placeholder="Phone number"
        required
      />
      <span class="la la-phone input-icon"></span>
    </div>
  </div>

  <!-- Address -->
  <div class="input-box">
    <label class="label-text">Address</label>
    <div class="form-group">
      <input
        [(ngModel)]="user.address"
        name="address"
        class="form-control form--control"
        type="text"
        placeholder="Address"
        required
      />
      <span class="la la-home input-icon"></span>
    </div>
  </div>

  <!-- Password -->
  <div class="input-box">
    <label class="label-text">Password</label>
    <div class="input-group mb-3">
      <span class="la la-lock input-icon"></span>
      <input
        [(ngModel)]="user.password"
        name="password"
        class="form-control form--control"
        type="password"
        placeholder="Password"
        required
      />
    </div>
  </div>



  
 

  

  <!-- Submit Button -->
  <div class="btn-box">
    <button
      class="btn theme-btn"
      type="submit"
      [disabled]="!userForm.form.valid"
    >
      Register Account
    </button>
  </div>
</form>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
</section>
<!-- end contact-area -->
<!-- ================================
       END CONTACT AREA
================================= -->
<app-footer></app-footer>
