<app-layout></app-layout>
<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area pt-120px bg-white pattern-bg">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <div class="section-heading">
                <h2 class="section__title fs-60 lh-70 pb-3">Upcoming Events <br> Learn Grow Connect!</h2>
                <p class="section__desc"> Unlock New Knowledge   <br> Join Our Events.</p>
            </div>
            <div class="breadcrumb-btn-box pt-30px">
                <a href="#jobs" class="btn theme-btn page-scroll">List Of Next Events <i class="la la-angle-down ml-1"></i></a>
            </div>
            <div class="story-img-item video-box mb-0">
                <img class="lazy" src="images/img-loading.png" data-src="assets/images/ev3.png" alt="Story image">
                <a href="#" class="video-play-btn" data-fancybox="" data-src="https://www.youtube.com/watch?v=jGKIUeGfakA&pp=ygUPZWR1Y2F0aW9uIGV2ZW50">
                     <span class="icon-element">
                         <svg focusable="false" class="svg-inline--fa fa-play" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"></path></svg>
                     </span>
                </a>
            </div>
        </div><!-- end breadcrumb-content -->
    </div><!-- end container -->
</section><!-- end breadcrumb-area -->

<!--======================================
        START GET STARTED AREA
======================================-->
<section class="get-started-area pt-140px position-relative bg-gray pb-90px">
    <span class="ring-shape ring-shape-1"></span>
    <span class="ring-shape ring-shape-2"></span>
    <span class="ring-shape ring-shape-3"></span>
    <span class="ring-shape ring-shape-4"></span>
    <span class="ring-shape ring-shape-5"></span>
    <span class="ring-shape ring-shape-6"></span>
    <div class="container">
        <div class="row pt-80px">
            <div class="col-lg-6">
                <div class="card card-item hover-y">
                    <div class="card-body d-flex align-items-center">
                        <div class="flex-shrink-0 avatar-lg">
                            <img src="assets/images/event2.png" alt="card image" class="w-100 rounded-full shadow-sm">
                        </div>
                        <div class="pl-4">
                            <h5 class="card-title pt-4 pb-2">We are learners</h5>
                            <p class="card-text">Organized by Club DEV for educational purposes</p>
                        </div>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col-lg-6 -->
            <div class="col-lg-6">
                <div class="card card-item hover-y">
                    <div class="card-body d-flex align-items-center">
                        <div class="flex-shrink-0 avatar-lg">
                            <img src="assets/images/event1.jpeg" alt="card image" class="w-100 rounded-full shadow-sm">
                        </div>
                        <div class="pl-4">
                            <h5 class="card-title pt-4 pb-2">We are navigators</h5>
                            <p class="card-text">Organized by Club ROBOT for educational purposes</p>
                        </div>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col-lg-6 -->
            <div class="col-lg-6">
                <div class="card card-item hover-y">
                    <div class="card-body d-flex align-items-center">
                        <div class="flex-shrink-0 avatar-lg">
                            <img src="assets/images/event3.jpeg" alt="card image" class="w-100 rounded-full shadow-sm">
                        </div>
                        <div class="pl-4">
                            <h5 class="card-title pt-4 pb-2">We are global</h5>
                            <p class="card-text"> Organized by Club RADIO for educational purposese</p>
                        </div>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col-lg-6 -->
            <div class="col-lg-6">
                <div class="card card-item hover-y">
                    <div class="card-body d-flex align-items-center">
                        <div class="flex-shrink-0 avatar-lg">
                            <img src="assets/images/event4.jpeg" alt="card image" class="w-100 rounded-full shadow-sm">
                        </div>
                        <div class="pl-4">
                            <h5 class="card-title pt-4 pb-2">We make an impact</h5>
                            <p class="card-text">Organized by Club TUNIVISION for educational purposes</p>
                        </div>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col-lg-6 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end get-started-area -->
<!-- ================================
       START GET STARTED AREA
================================= -->
<!--======================================
        START FULL SCREEN SLIDER AREA
======================================-->
<section class="fullscreen-slider-area section-padding">
    <div class="section-heading text-center mb-50px">
        <h2 class="section__title">Don’t Miss Out <br> Exciting Learning Events Ahead!</h2>
    </div><!-- end section-heading -->
    <div class="fullscreen-slider owl-action-styled">
        <div class="fullscreen-slider-item">
            <img src="assets/images/ev1.png" alt="slider image">
        </div><!-- end fullscreen-slider-item -->
        <div class="fullscreen-slider-item">
            <img src="assets/images/ev2.jpeg" alt="slider image">
        </div><!-- end fullscreen-slider-item -->
        <div class="fullscreen-slider-item">
            <img src="assets/images/ev3.png" alt="slider image">
        </div><!-- end fullscreen-slider-item -->
        <div class="fullscreen-slider-item">
            <img src="assets/images/ev1.png" alt="slider image">
        </div><!-- end fullscreen-slider-item -->
        <div class="fullscreen-slider-item">
            <img src="assets/images/ev2.jpeg" alt="slider image">
        </div><!-- end fullscreen-slider-item -->
        <div class="fullscreen-slider-item">
            <img src="assets/images/ev3.png" alt="slider image">
        </div><!-- end fullscreen-slider-item -->
    </div><!-- end fullscreen-slider -->
</section><!-- end fullscreen-slider-area -->
<!-- ================================
       START FULL SCREEN SLIDER AREA
================================= -->



  
<!-- ================================
         START JOBS BOX AREA
================================= -->
<section class="jobs-area section-padding bg-gray" id="jobs">
    <div class="container">
        <div class="section-heading text-center">
            <h2 class="section__title pb-2">UPCOMING EVENTS</h2>
            <p class="section__desc"> Coming Soon: Events That Inspire & Educate.</p>
        </div><!-- end section-heading -->
        <!-- events.component.html -->

        <div class="jobs-list pt-60px">
            <a href="career-details.html" class="card card-item hover-s mb-3">
                <div class="card-body d-flex flex-wrap align-items-center justify-content-between">
                    <div class="pr-4">
                        <h5 class="card-title">January: Educational Events For Students   </h5>
                        <p class="card-text text-gray">ELIT CLUB-ESPOIR</p>
                    </div>
                    <div class="btn-box">
                        <span class="fs-18 text-black">Participate NOW <i class="la la-arrow-right ml-1"></i></span>
                    </div><!-- end btn-box -->
                </div><!-- end card-body -->
            </a><!-- end card -->
            <a href="career-details.html" class="card card-item hover-s mb-3">
                <div class="card-body d-flex flex-wrap align-items-center justify-content-between">
                    <div class="pr-4">
                        <h5 class="card-title">February: BETT</h5>
                        <p class="card-text text-gray">ELIT CLUB-TUNIVISION</p>
                    </div>
                    <div class="btn-box">
                        <span class="fs-18 text-black">Participate NOW <i class="la la-arrow-right ml-1"></i></span>
                    </div><!-- end btn-box -->
                </div><!-- end card-body -->
            </a><!-- end card -->
            <a href="career-details.html" class="card card-item hover-s mb-3">
                <div class="card-body d-flex flex-wrap align-items-center justify-content-between">
                    <div class="pr-4">
                        <h5 class="card-title">March: Diversity, Education, And Student Success</h5>
                        <p class="card-text text-gray">ELIT CLUB-ROBOT</p>
                    </div>
                    <div class="btn-box">
                        <span class="fs-18 text-black">Participate NOW <i class="la la-arrow-right ml-1"></i></span>
                    </div><!-- end btn-box -->
                </div><!-- end card-body -->
            </a><!-- end card -->
            <a href="career-details.html" class="card card-item hover-s mb-3">
                <div class="card-body d-flex flex-wrap align-items-center justify-content-between">
                    <div class="pr-4">
                        <h5 class="card-title">April: Media Education Summit </h5>
                        <p class="card-text text-gray">ELIT CLUB-Radio</p>
                    </div>
                    <div class="btn-box">
                        <span class="fs-18 text-black">Participate NOW <i class="la la-arrow-right ml-1"></i></span>
                    </div><!-- end btn-box -->
                </div><!-- end card-body -->
            </a><!-- end card -->
            <a href="career-details.html" class="card card-item hover-s mb-3">
                <div class="card-body d-flex flex-wrap align-items-center justify-content-between">
                    <div class="pr-4">
                        <h5 class="card-title">May:ELI Annual Meeting </h5>
                        <p class="card-text text-gray">ELIT CLUB-Génie Civil</p>
                    </div>
                    <div class="btn-box">
                        <span class="fs-18 text-black">Participate NOW <i class="la la-arrow-right ml-1"></i></span>
                    </div><!-- end btn-box -->
                </div><!-- end card-body -->
            </a><!-- end card -->
            <a href="career-details.html" class="card card-item hover-s mb-3">
                <div class="card-body d-flex flex-wrap align-items-center justify-content-between">
                    <div class="pr-4">
                        <h5 class="card-title">June: NEXUS Education Virtual Awards</h5>
                        <p class="card-text text-gray">ELIT CLUB-FUSION</p>
                    </div>
                    <div class="btn-box">
                        <span class="fs-18 text-black">Participate NOW <i class="la la-arrow-right ml-1"></i></span>
                    </div><!-- end btn-box -->
                </div><!-- end card-body -->
            </a><!-- end card -->
            <a href="career-details.html" class="card card-item hover-s mb-3">
                <div class="card-body d-flex flex-wrap align-items-center justify-content-between">
                    <div class="pr-4">
                        <h5 class="card-title">July: Business solutions</h5>
                        <p class="card-text text-gray">ELIT CLUB-Dev</p>
                    </div>
                    <div class="btn-box">
                        <span class="fs-18 text-black">Participate NOW <i class="la la-arrow-right ml-1"></i></span>
                    </div><!-- end btn-box -->
                </div><!-- end card-body -->
            </a><!-- end card -->
        </div>
        <div class="d-flex flex-wrap justify-content-between pt-4">
            <p class="fs-18 pb-2">Mark Your Calendar: Don’t Miss These Events!</p>
            <a href="contact.html" class="btn-text">Apply Here <i class="la la-arrow-right ml-1"></i></a>
        </div>
    </div><!-- end container -->
</section>
<!-- ================================
         END JOBS BOX AREA
================================= -->
<app-footer></app-footer>
