<app-layout></app-layout>
<section class="breadcrumb-area section-padding img-bg-2">
    <div class="overlay"></div>
    <div class="container">
        <div class="breadcrumb-content d-flex flex-wrap align-items-center justify-content-between">
            <div class="section-heading">
                <h2 class="section__title text-white">Course Grid</h2>
            </div>
            <ul
                class="generic-list-item generic-list-item-white generic-list-item-arrow d-flex flex-wrap align-items-center">
                <li><a href="index.html">Home</a></li>
                <li>Courses</li>
                <li>Course Grid</li>
            </ul>
        </div>
    </div>
</section>
<section class="course-area section-padding">
    <div class="container">
        <div class="filter-bar mb-4">
        </div>
        <div class="row">
            <div class="col-lg-4 responsive-column-half" *ngFor="let formation of formations">
                <div class="card card-item card-preview">
                    <div class="card-image">
                        <a href="course-details.html" class="d-block">
                            <img [src]="formation.image" alt="formation Image">
                        </a>
                        <div class="course-badge-labels" *ngIf="formation.highestRated">
                            <div class="course-badge sky-blue">Highest rated</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h6 class="ribbon ribbon-blue-bg fs-14 mb-3" *ngIf="formation.label">{{ formation.label }}</h6>
                        <h5 class="card-title"><a href="course-details.html">{{ formation.title }}</a></h5>
                        <p class="card-text">{{ formation.description }}</p>
                        <div class="rating-wrap d-flex align-items-center py-2">
                            <div class="review-stars">
                                <span class="rating-number">4.4</span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star-o"></span>
                            </div>
                            <span class="rating-total pl-1">(20,230)</span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="card-price text-black font-weight-bold">{{ formation.price }}</p>
                            <div class="icon-element icon-element-sm shadow-sm cursor-pointer" title="Add to Wishlist">
                                <i class="la la-heart-o"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center pt-3">
            <nav aria-label="Page navigation example" class="pagination-box">
                <ul class="pagination justify-content-center">
                </ul>
            </nav>
            <p class="fs-14 pt-2">Showing 1-6 of 56 results</p>
        </div>
    </div>
</section><app-footer></app-footer>