<app-layout></app-layout>
<form #commentForm="ngForm" (ngSubmit)="submitComment(commentForm)">
    <!-- Contenu du commentaire -->
    <label for="content">Contenu :</label>
    <textarea id="content" name="content" [(ngModel)]="comment.content" required></textarea>
  
    <!-- Date du commentaire (automatiquement définie lors de la soumission) -->
    <input type="hidden" name="date" [(ngModel)]="comment.date" />
  
    <!-- Bouton pour soumettre le formulaire -->
    <button type="submit" [disabled]="commentForm.invalid">Ajouter Commentaire</button>
  </form>
  <app-footer></app-footer>