<div class="update-question-container" *ngIf="!isLoading; else loading">
    <h2>Modifier la question</h2>
    <form [formGroup]="questionForm" (ngSubmit)="updateQuestion()">
      
      <label for="text">Texte de la question :</label>
      <input id="text" formControlName="text" type="text" required>
      <div *ngIf="text?.invalid && text?.touched" class="error">Ce champ est requis.</div>
  
      <label for="difficulty">Difficulté :</label>
      <select id="difficulty" formControlName="difficulty" required>
        <option value="easy">Facile</option>
        <option value="midium">Moyenne</option>
        <option value="hard">Difficile</option>
      </select>
  
      <label for="choices">Choix (séparés par une virgule) :</label>
      <input id="choices" formControlName="choices" type="text" required>
      <div *ngIf="choices?.invalid && choices?.touched" class="error">Ce champ est requis.</div>
  
      <label for="correctAnswer">Réponse correcte :</label>
      <input id="correctAnswer" formControlName="correctAnswer" type="text" required>
      <div *ngIf="correctAnswer?.invalid && correctAnswer?.touched" class="error">Ce champ est requis.</div>
  
      <div class="buttons">
        <button type="submit" [disabled]="questionForm.invalid">Mettre à jour</button>
        <button type="button" (click)="cancelUpdate()">Annuler</button>
      </div>
    </form>
  </div>
  
  <ng-template #loading>
    <p>Chargement en cours...</p>
  </ng-template>
  